<div class="container mt-5" id="container">
  <!-- <div class="form-container mt-5 sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a (click)=signInWithGoogle() class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div> -->
  <div class="form-container sign-in-container">
    <form #formValues="ngForm" (ngSubmit)="login(formValues)">
      <h1>Sign in</h1>
      <div class="social-container">
        <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a (click)=signInWithGoogle() class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
      </div>
      <!-- <span>or use your account</span> -->

      <div *ngIf="message" class="alert alert-warning alert-dismissible fade show" role="alert">

        <strong>Invalid Credentials</strong>
      </div>


      <div class="form-group">
        <input class="form-control" [(ngModel)]="Creds.username" name="username" #username="ngModel" type="text"
          placeholder="Enter Username" required>
        <div class="error" *ngIf="username.touched && !username.valid"> Username is
          required</div>
      </div>

      <div class="form-group">
        <input class="form-control" [(ngModel)]="Creds.password" name="password" #password="ngModel" type="password"
          required placeholder="Enter password">
        <div class="error" *ngIf="password.touched && !password.valid"> Password is
        </div>
      </div>


      <!-- <a href="#">Forgot your password?</a> -->
      <button>Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details and start journey with us</p>
        <!-- <button class="ghost" id="signUp">Sign Up</button> -->
      </div>
    </div>
  </div>
</div>
<img src="{{ user.photoUrl }}">
<div>
  <h4>{{ user.name }}</h4>
  <p>{{ user.email }}</p>
</div>
