.date-field {
  background-color: rgba(240, 248, 255, 0);
  width: 40%;
  border-color: rgba(0, 0, 0, 0);
  color: #5f76e8;
  font-weight: 600;
}

::ng-deep .cdk-overlay-container {
  z-index: 2000;
}



// @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
// @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

// body {
//   font-family: "Montserrat", sans-serif;
//   min-height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   background-color: #242333;
//   color: #fff;
//   margin: 0;
// }

// * {
//   font-family: "Montserrat", sans-serif !important;
//   box-sizing: border-box;
// }

#grid {

  .movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
  }

  .movie-container select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px 15px;
    margin-bottom: 40px;
    font-size: 14px;
    border-radius: 5px;
  }

  // .container {
  //   perspective: 1000px;
  //   margin: 40px 0;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  // }

  .seat {
    background-color: #00c241;
    height: 100%;
    width: 100%;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
  }

  .sear:focus {
    background-color: #0081cb;
  }

  .seat-small {
    background-color: #00c241;
    height: 17px;
    width: 25px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  p {
    // bottom: 0;
    display: flex;
    color: white;
    padding-top: 14px;
    margin-bottom: 0;
    align-items: flex-end;
    justify-content: center;
  }

  .selected {
    background-color: #0081cb;
  }

  .occupied {
    background-color: rgb(255, 0, 0);
  }

  .seat:nth-of-type(2) {
    margin-right: 18px;
  }

  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }

  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }

  .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
  }

  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .showcase li small {
    margin-left: 2px;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .screen {
    background: #fff;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  p.text {
    margin: 40px 0;
  }

  p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
  }

  .credits a {
    color: #fff;
  }

}
