<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container mt-5 px-5">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mt-4">
            <h1>Category management</h1>
          </div>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Your Aramb Services</h6>
              <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
                class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Add
                Category</a>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable"  width="100%" cellspacing="0" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  >
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Edit</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>

                  <!--  -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-edit text-gray-500"></i>
                      </td>
                      <td>{{factor.category_name}}</td>
                      <td>{{factor.category_description}}</td>
                      <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-trash text-gray-500"></i>
                      </td>
                    </tr>
                  </tbody>
                  <!--  -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center mt-2 mb-4">
          <a href="index.html" class="text-success">
            <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                src="../assets/images/logo-text.png" alt="" height="18"></span>
          </a>
        </div>

        <form action="#" class="pl-3 pr-3">

          <div class="form-group">
            <label for="emailaddress1">Email address</label>
            <input class="form-control" type="email" id="emailaddress1" required="" placeholder="john@deo.com">
          </div>

          <div class="form-group">
            <label for="password1">Password</label>
            <input class="form-control" type="password" required="" id="password1" placeholder="Enter your password">
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Remember me</label>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Sign
              In</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center mt-2 mb-4">
          <a href="index.html" class="text-success">
            <span><img class="mr-2" src="../assets/images/logo-icon.png" alt="" height="18"><img
                src="../assets/images/logo-text.png" alt="" height="18"></span>
          </a>
        </div>

        <form action="#" class="pl-3 pr-3">

          <div class="form-group">
            <label for="emailaddress1">Email address</label>
            <input class="form-control" type="email" id="emailaddress1" required="" placeholder="john@deo.com">
          </div>

          <div class="form-group">
            <label for="password1">Password</label>
            <input class="form-control" type="password" required="" id="password1" placeholder="Enter your password">
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Remember me</label>
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Sign
              In</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
