<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container mt-5 px-5">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mt-4">
            <h1>Sub-Category management</h1>
          </div>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Your Aramb Services</h6>
              <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
                class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Add
                Sub Category</a>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Sub Category Name</th>
                      <th>Category Name</th>
                      <th>Actual Price</th>
                      <th>Discounted Price</th>
                      <th>Description</th>
                      <th>Delete</th>

                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Edit</th>
                      <th>Sub Category Name</th>
                      <th>Category Name</th>
                      <th>Actual Price</th>
                      <th>Discounted Price</th>
                      <th>Description</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>

                  <!--  -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-edit text-gray-500"></i>
                      </td>
                      <td>{{factor.category_name}}</td>
                      <td>{{factor.sc_name}}</td>
                      <td>{{factor.sc_actual_price}}</td>
                      <td>{{factor.sc_discounted_price}}</td>
                      <td>{{factor.sc_description}}</td>
                      <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-trash text-gray-500"></i>
                      </td>
                    </tr>
                  </tbody>
                  <!--  -->


                </table>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>

<!-- // site: {{ site_id }}
  // category: { { category_id } }
  // sc_name: Men's Haircut
  // sc_description: Lorem Ipsum Lorem Ipsum Lorem Ipsum
  // sc_actual_price:
  // sc_discounted_price: -->
<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Select Category</label>
            <ng-select [items]="Categories" bindLabel="category_name" autofocus bindValue="category_id"
              [(ngModel)]="selectedCategory" (change)=print($event) placeholder="Select Category">
            </ng-select>
          </div>

          <div class="form-group">
            <label>Subcategory name</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.sc_name" name="sc_name" #sc_name="ngModel"
              type="text" placeholder="Enter Subcategory name" required>
            <div class="error" *ngIf="sc_name.touched && !sc_name.valid"> Subcategory name is
              required</div>
          </div>

          <div class="form-group">
            <label>Subcategory thumbnail</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.sc_cover" name="sc_cover" #sc_cover="ngModel"
              (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="sc_cover.touched && !sc_cover.valid"> Subcategory name is
            </div>
          </div>

          <div class="form-group">
            <label>Subcategory description</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.sc_description" name="sc_description"
              #sc_description="ngModel" type="text" placeholder="Enter Subcategory description" required>
            <div class="error" *ngIf="sc_description.touched && !sc_description.valid"> Subcategory
              description
              is required</div>
          </div>

          <div class="form-group">
            <label>Actual Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.sc_actual_price" name="sc_actual_price"
              #sc_actual_price="ngModel" type="number" [value]="0" placeholder="Enter Actual Price">
          </div>

          <div class="form-group">
            <label>Discounted Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.sc_discounted_price" name="sc_discounted_price"
              #sc_discounted_price="ngModel" type="number" [value]="0" placeholder="Enter Discounted Price">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Create Subcategory</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <div class="form-group">
            <label>Select Category</label>
            <ng-select [items]="Categories" bindLabel="category_name" autofocus bindValue="category_id"
              [(ngModel)]="Editing_Factor.category_id" name="selectedCategory" (change)=print($event)
              placeholder="Select Category">
            </ng-select>
          </div>

          <div class="form-group">
            <label>Subcategory name</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.sc_name" name="sc_name" #sc_name="ngModel"
              type="text" placeholder="Enter Subcategory name" required>
            <div class="error" *ngIf="sc_name.touched && !sc_name.valid"> Subcategory name is
              required</div>
          </div>

          <div class="form-group">
            <label>Subcategory thumbnail</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.sc_cover" name="sc_cover" #sc_cover="ngModel"
              (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="sc_cover.touched && !sc_cover.valid"> Subcategory name is
            </div>
          </div>

          <div class="form-group">
            <label>Subcategory description</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.sc_description" name="sc_description"
              #sc_description="ngModel" type="text" placeholder="Enter Subcategory description" required>
            <div class="error" *ngIf="sc_description.touched && !sc_description.valid"> Subcategory
              description
              is required</div>
          </div>

          <div class="form-group">
            <label>Actual Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.sc_actual_price" name="sc_actual_price"
              #sc_actual_price="ngModel" type="number" [value]="0" placeholder="Enter Actual Price">
          </div>

          <div class="form-group">
            <label>Discounted Price (Optional)</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.sc_discounted_price" name="sc_discounted_price"
              #sc_discounted_price="ngModel" type="number" [value]="0" placeholder="Enter Discounted Price">
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" type="submit">Update Sub Category</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
