<body id="page-top">
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container mt-5 px-5">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mt-4">
            <h1>Image management</h1>
          </div>
          <p class="mb-4"></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Your Aramb Services</h6>
              <a data-toggle="modal" data-target="#create-factor-modal" [routerLink]="['/dashboard/product-create']"
                class="d-sm-inline btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Add
                Image</a>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" datatable
                  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                  <thead>
                    <tr>
                      <th>Edit</th>
                      <th>Image Name</th>
                      <th>Subcategory Name</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Edit</th>
                      <th>Image Name</th>
                      <th>Subcategory Name</th>
                      <th>Delete</th>
                    </tr>
                  </tfoot>

                  <!--  -->
                  <tbody>
                    <tr *ngFor="let factor of Factors">
                      <td (click)=show_edit(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-edit text-gray-500"></i>
                      </td>
                      <td>{{factor.image_name}}</td>
                      <td>{{factor.sc_name}}</td>
                      <td (click)=delete_factor(factor) style="cursor: pointer;" align="center">
                        <i class="fa fa-trash text-gray-500"></i>
                      </td>
                    </tr>
                  </tbody>
                  <!--  -->


                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>


<!-- Create  Factor modal content -->
<div id="create-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues1="ngForm" (ngSubmit)="create_factor(formValues1)" class="pl-3 pr-3">


          <div class="form-group">
            <label>Select Category</label>
            <ng-select [items]="SubCategories" bindLabel="sc_name" autofocus bindValue="sub_category_id"
              [(ngModel)]="selectedSubCategory" (change)=print($event) placeholder="Select Category">
            </ng-select>
          </div>

          <div class="form-group">
            <label>Image name</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.image_name" name="image_name" #image_name="ngModel"
              type="text" placeholder="Enter Image name" required>
            <div class="error" *ngIf="image_name.touched && !image_name.valid"> Image name is
              required</div>
          </div>

          <div class="form-group">
            <label>Image thumbnail</label>
            <input class="form-control" [(ngModel)]="Creating_Factor.gallery_image" name="gallery_image"
              #gallery_image="ngModel" (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="gallery_image.touched && !gallery_image.valid"> Image name is
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Create Image</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Create Factor -->



<!-- Edit  Factor modal content -->
<div id="edit-factor-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form #formValues2="ngForm" (ngSubmit)="edit_factor(formValues2)" class="pl-3 pr-3">

          <!-- <div class="form-group">
            <label>Select Category</label>
            <ng-select [items]="SubCategories" bindLabel="sc_name" autofocus bindValue="sub_category_id"
              [(ngModel)]="Editing_Factor.sub_category_id" (change)=print($event) placeholder="Select Category">
            </ng-select>
          </div> -->

          <div class="form-group">
            <label>Image name</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.image_name" name="image_name" #image_name="ngModel"
              type="text" placeholder="Enter Image name" required>
            <div class="error" *ngIf="image_name.touched && !image_name.valid"> Image name is
              required</div>
          </div>

          <div class="form-group">
            <label>Image thumbnail</label>
            <input class="form-control" [(ngModel)]="Editing_Factor.gallery_image" name="gallery_image"
              #gallery_image="ngModel" (change)=" onImage($event)" type="file" required>
            <div class="error" *ngIf="gallery_image.touched && !gallery_image.valid"> Image thumbnail is required
            </div>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-primary" *ngIf="isUploading" [disabled]=true type="submit">Image Uploading
              ...</button>
            <button class="btn btn-primary" *ngIf="!isUploading" type="submit">Update Image</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<!-- End of Edit Factor -->
