::ng-deep .cdk-overlay-container {
  z-index: 2000;
}

/* You can add global styles to this file, and also import other style files */


@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
  zoom: 98%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
